<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <img src="assets/images/users/user3.jpg" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
          <h4 class="card-title">{{ user.personal_name }}</h4>
          <p class="card-text">{{ user.role_title }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About Me</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel fermentum massa.
            Integer eu lectus vel mi consectetur ullamcorper. Sed ut arcu at justo fermentum
            fermentum. Suspendisse potenti. Morbi eget urna vel elit aliquam tincidunt vitae
            a mi. Nunc id lectus vitae arcu laoreet tristique.
        </div>
      </div>

      <div class="container mt-1">
        <div class="bg-white border border-gray-100 rounded-sm p-3">
          <h2>Personal Information</h2>
          <br>
          <div class="d-flex w-100">
            <p class="w-50">Nama</p>
            <p class="ms-auto text-right">{{ user.personal_name }}</p>
          </div>
          <div class="d-flex w-100">
            <p class="w-50">Gender</p>
            <p class="ms-auto text-right">{{ user.personal_gender }}</p>
          </div>
          <div class="d-flex w-100">
            <p class="w-50">Phone</p>
            <p class="ms-auto text-right">{{ user.personal_phone }}</p>
          </div>
          <div class="d-flex w-100">
            <p class="w-50">Address</p>
            <p class="ms-auto text-right">{{ user.personal_address }}</p>
          </div>
          <a routerLink="/main/profile/change-password" routerLinkActive="active">Change Password</a>
        </div>
      </div>

    </div>
  </div>
</div>
