<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <img src="assets/images/users/user3.jpg" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Web Developer</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About Me</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel fermentum massa.
            Integer eu lectus vel mi consectetur ullamcorper. Sed ut arcu at justo fermentum
            fermentum. Suspendisse potenti. Morbi eget urna vel elit aliquam tincidunt vitae
            a mi. Nunc id lectus vitae arcu laoreet tristique.
          </p>
          <h5 class="card-title">Skills</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">HTML</li>
            <li class="list-group-item">CSS</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">Angular</li>
          </ul>
          <h5 class="card-title mt-3">More</h5>
            <a routerLink="/main/profile/change-password" routerLinkActive="active">Change Password</a>
        </div>
      </div>
    </div>
  </div>
</div>
